* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 600px;
  background-color: #191C1D;
  border-radius: 5px;
}

.display {
  flex-grow: 2;
  padding: 10px;
  font-size: 45px;
  background-color: #21353A;
  color: #ffffff;
  border-radius: 5px;
}

.keypad {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.btn {
  flex-grow: 1;
  flex-basis: 70px;
  font-size: 35px;
  padding: 20px 0;
  background-color: #1C2527;
  color: #E1E3E4;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn--ac, .btn-equal, .btn--math-operator {
  color: #0D1744;
}

.btn--ac {
  background-color: #DDE1FF;
}

.btn-equal {
  background-color: #A7EDFF;
}

.btn--math-operator {
  background-color: #97AFB7;
}
